body {
    background-image: url(../images/magic-bg.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    color:whitesmoke;
}

h2 {
    font-family: 'Vidaloka', serif;
    text-align: center;
    color: whitesmoke;
}

h4 {
    font-family: 'Vidaloka', serif;
    text-align: center;
    color: plum;
}